[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
psycopg2-binary = "*"
openai = "*"
python-dotenv = "*"
elasticsearch = "*"
groq = "*"
tiktoken = "*"
genism = "*"
sentence-transformers = "*"
faiss-cpu = "*"
pgcli = "*"
psycopg2 = "==2.9.6"

[dev-packages]

[requires]
python_version = "3.12"
